Source: wf-shell
Section: x11
Priority: optional
Maintainer: Luis Pabon <luis.pabon@auronconsulting.co.uk>
Build-Depends: debhelper (>= 11),
                      libwayland-dev,
                      libwayland-client0,
                      libgtkmm-3.0-dev,
                      libwf-config,
                      wayland-protocols (>= 1.12),
                      meson,
                      pkg-config
Standards-Version: 4.3.0
Homepage: https://wayfire.org/

Package: wf-shell
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libwlroots0 (>=0.4)
Description: A GTK3-based panel for wayfire.
